<!DOCTYPE html>
<html>
  <head>
    <title>Scheduled Reminders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-warning">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand font-weight-bolder font-italic text-white" href="<%= root_path %>">SR</a>

      <div class="d-flex flex-row bd-highlight d-none d-md-block d-xl-none">
       <% if user_signed_in? %>
         <div class="p-2 bd-highlight">
           <%= link_to new_reminder_path, class: 'btn transparent-btn' do %>
             <span class="badge badge-warning nav-link text-dark border-0" style="box-shadow: 0 0 1px 0 rgba(42, 42, 42, 0.4), 0 3px 4px 0 rgba(42, 42, 42, 0.2);">
               <%= image_tag("add-outline.svg", size: "24") %>
             </span>
           <% end %>
         </div>
       <% end %>
     </div>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= reminders_path %>">My Reminders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= new_reminder_path %>">New Reminder</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to '#', class: 'nav-link' do %>
                <span class="badge badge-warning nav-link text-dark">Hey @<%= current_user.email %></span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'sign in', new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'sign up', new_user_registration_path, class: 'nav-link text-white' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container container-fluid">
      <!-- Content here -->
      <% if notice.present? %>
        <br><div class="p-3 mb-2 bg-success text-white rounded"><%= notice %></div>
      <% end %>

      <% if alert.present? %>
        <br><div class="p-3 mb-2 bg-danger text-white rounded"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
